<!DOCTYPE html>
<html>
    <head>
		
				<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KS4N37ZK');</script>
<!-- End Google Tag Manager -->
		
		
		
        <title>Cosmic Brownie</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
		
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS4N37ZK"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		
		
		
	<img src="/images/155.jpg" id="header_img" class="img-fluid" alt="Responsive image" width="100%;">
		
    <div class="container">
		
		<img src="/images/Untitled_Artwork.png" id="brownie" width="50%;">
		<span class="centered" id="landing-header">
			<h1>Cosmic Brownie</h1>
			<a href="/campgrounds" class="btn btn-lg btn-";>The strange items you didn't know you needed</a>
		</span>
     	
 </div>
