body {
	background-color: #000;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing-header {
	text-align: center;
	margin-top:.5em;
}

#landing-header h1 {
	color: #fff;
}

.header_img {
	height: auto; 
	max-width: 100%;
}

.brownie {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
    background-color: white;
	opacity: 0.6;
	padding: .2em .5em;
	margin-top: 1em;
}

.navbar navbar-default{
	opacity:1;
}

